*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea/
*.iws

.kotlin
.kotlin/errors
.gradle/
build/
**/build/
!gradle/wrapper/gradle-wrapper.jar
.gradle/caches/
.gradle/daemon/
.gradle/native/
.gradle/notifications/
.gradle/wrapper/dists/
gradle-app.setting


*.keystore
*.jks
*.pem


*.class
*.log
*.jar
*.war
*.ear

captures/
output.json
*.apk
*.ap_
*.dex

*.stacktrace
crashlytics-build.properties


Thumbs.db
*.swp
*.swo
*.tmp

test-output/
*.ec
coverage/


**/schemas/
*.db

.idea/**/renderExperimental.xml

ehthumbs.db
Desktop.ini
$RECYCLE.BIN/


.env
.env.*

androidTestResults/
